<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="img/logo.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["css/reset.css"]"/>
    <link rel="stylesheet" href="@Assets["css/fonts.css"]"/>
    <link rel="stylesheet" href="@Assets["css/default.css"]"/>
    <link rel="stylesheet" href="@Assets["css/app.css"]"/>
    <link rel="stylesheet" href="@Assets["TopDeck.styles.css"]"/>
    <ImportMap/>
    <HeadOutlet @rendermode="InteractiveWebAssembly"/>
</head>

<body>
<Routes @rendermode="InteractiveWebAssembly"/>
<script src="_content/TopDeck.Shared/infiniteScroll.js"></script>
<script src="_content/TopDeck.Shared/windowSize.js"></script>
<script src="_content/TopDeck.Shared/scrollTo.js"></script>
<script src="_content/TopDeck.Shared/back.js"></script>
<script src="_framework/blazor.web.js"></script>
</body>

</html>