@page "/decks/{DeckCode}"
@inherits DeckDetailsBase
@attribute [AllowAnonymous]

<PageTitle>Deck - @(Deck?.Name ?? "Deck")</PageTitle>


@if (Deck is null)
{
    <p>@Localizer.Localize("feedback.text.loading", "Loading...")</p>
}
else
{
    <div class="deck-details-page @GetEnergyClass(Deck.EnergyIds)">
    
        <div class="header">
        
            <DeckNamePanel Name="@Deck.Name" Width="210px" Height="35px" FontSize="1.2em"/>
            
            <div class="vote-panel-container">
                <VotePanel DeckId="Deck.Id" 
                           UserLikes="Deck.Likes.Select(l => l.User).ToList()"
                           UserDislikes="Deck.Dislikes.Select(l => l.User).ToList()"
                           Width="140px" Height="35px" FontSize="1.2em"/>
            </div>
            
            <span class="code" @onclick="CopyCode">@DeckCode</span>
        
        </div>
    
    </div>
}


