@page "/decks"
@inherits DeckItemsPagePresenter
@attribute [AllowAnonymous]


<PageTitle>TOPDECK - Decks</PageTitle>


<div class="decks-page-page">
    
    <div id="deck-scroll" class="deck-items">
        @if (DeckItems.Count <= 0 && !IsLoading)
        {
            <p class="deck-items__no-cards-text">@Localizer.Localize("page.decksView.noCards.text", "No cards found.")</p>
        }
        else
        {
            foreach (DeckItem deckItem in DeckItems)
            {
                <DeckItemView DeckItem="@deckItem"/>
            }
        }
        
        @if (IsLoading)
        {
            <LoadingWheel/>
        }
    </div>

    <div class="pager pager--bottom">
        <button class="pager__btn" disabled="@(Page <= 1)" @onclick="PrevPage">@Localizer.Localize("pager.prev", "Prev")</button>
        <div class="pager__pages">
            @foreach (var p in GetPageButtons())
            {
                if (p.IsEllipsis)
                {
                    <span class="pager__ellipsis">…</span>
                }
                else
                {
                    <button class="pager__btn pager__btn--page @(p.IsCurrent ? "is-current" : null)" disabled="@p.IsCurrent" @onclick="(() => NavigateToPage(p.Page))">@p.Page</button>
                }
            }
        </div>
        <button class="pager__btn" disabled="@(!HasNextPage)" @onclick="NextPage">@Localizer.Localize("pager.next", "Next")</button>
    </div>
</div>