@page "/decks/edit"
@inherits DeckDetailsEditPagePresenter
@attribute [AllowAnonymous]

<PageTitle>Deck edit</PageTitle>


<div class="deck-details-edit-page-container">
    <div class="deck-details-edit-left-side"></div>
    
    <div class="deck-details-edit-page">
        <div class="deck-details-edit-header">
            <div class="deck-details-edit-header-top">
                <div class="deck-details-edit-title-panel-container">
                    <TitlePanel Name="@DeckName" Width="200px" Height="35px" FontSize="1.1em"/>
                </div>
            </div>

            @if (IsMobile) { <VerticalSpacer Value="10"/> }
            else { <VerticalSpacer Value="25"/> }

            <div class="deck-details-edit-highlight">
                <div class="deck-details-edit-highlighted-cards">
                    
                    @if (TCGPHighlightedCards.Count == 0)
                    {
                        <PlusButton Width="86px" Height="120px"/>
                    }
                    else
                    {
                        <img class="deck-details-edit-highlighted-cards__card" src="@TCGPHighlightedCards[0].ImageUrl" alt="img deck 1" loading="lazy" decoding="async" fetchpriority="low"/>
                    }
                    
                    @if (TCGPHighlightedCards.Count <= 1)
                    {
                        <PlusButton Width="68px" Height="96px"/>
                    }
                    else
                    {
                        <img class="deck-details-edit-highlighted-cards__card" src="@TCGPHighlightedCards[1].ImageUrl" alt="img deck 2" loading="lazy" decoding="async" fetchpriority="low"/>
                    }
                    
                    @if (TCGPHighlightedCards.Count <= 2)
                    {
                        <PlusButton Width="68px" Height="96px"/>
                    }
                    else
                    {
                        <img class="deck-details-edit-highlighted-cards__card" src="@TCGPHighlightedCards[2].ImageUrl" alt="img deck 3" loading="lazy" decoding="async" fetchpriority="low"/>
                    }
                    
                </div>

                <div class="deck-details-edit-energies">
                    @*@foreach (int energyId in DeckDetails.EnergyIds)
                        {
                            <img class="deck-details-edit-energies__energy" src="https://tcgp-dex.com/energyTypes/@(EnergyTypes[energyId].ToLower()).webp" alt="energy " loading="lazy" decoding="async" fetchpriority="low"/>
                        }*@
                </div>
            </div>
                
            <VerticalSpacer Value="8"/>
            <hr class="deck-details-edit-header__separator">
        </div>
        
        @if (CurrentTab is Tab.Cards)
        {
            <div class="deck-details-edit-cards">
                @if (TCGPCards.Count > 0)
                {
                    foreach (TCGPCard card in TCGPCards)
                    {
                        <img class="deck-details-edit-cards__card" src="@card.ImageUrl" alt="@card.Name" loading="lazy" decoding="async" fetchpriority="low"/>
                    }
                
                }

                @if (TCGPCards.Count < 20)
                {
                    if (IsMobile)
                    {
                        <PlusButton Width="115px" Height="160px" Clicked="SetEditMode"/>
                    }
                    else
                    {
                        <PlusButton Width="192px" Height="267px" Clicked="SetEditMode"/>
                    }
                }
            </div>
        }
        else if (CurrentTab is Tab.Overview)
        {
            <div class="deck-details-edit-overview">
                @if (TCGPCards.Count <= 0)
                {
                    @*<LoadingWheel/>*@
                }
                else
                {
                    foreach (TCGPCard card in TCGPCards)
                    {
                        <img class="deck-details-edit-overview__card" src="@card.ImageUrl" alt="@card.Name" loading="lazy" decoding="async" fetchpriority="low"/>
                    }
                }
            </div>
        }
        
        @if (IsMobile)
        {
            <a class="deck-details-back-button" href="/decks">
                <img class="deck-details-back-button__icon" src="img/arrow-back-icon.svg" alt="back button"/>
            </a>
            
            <div class="deck-details-tabs">
                <button class="deck-details-tab-button @(CurrentTab is Tab.Cards ? "active" : "")" @onclick="() => SelectTab(Tab.Cards)">
                    <img class="deck-details-tab-button__icon" src="img/card-tab-icon@(CurrentTab is Tab.Cards ? "-active" : "").svg" alt="card tab button"/>
                </button>

                <button class="deck-details-tab-button @(CurrentTab is Tab.Overview ? "active" : "")" @onclick="() => SelectTab(Tab.Overview)">
                    <img class="deck-details-tab-button__icon" src="img/overview-tab-icon@(CurrentTab is Tab.Overview ? "-active" : "").svg" alt="overview tab button"/>
                </button>
            </div>
        }
    </div>
    
    @if (IsMobile && CurrentTab == Tab.Cards && IsEditing)
    {
        <div class="deck-details-cards-edit">
            <div class="deck-details-cards-edit-header">
                <div class="deck-details-cards-edit-cards-preview">
                    @foreach (TCGPCard card in TCGPCards)
                    {
                        <img class="deck-details-cards-edit-cards-preview__card" src="@card.ImageUrl" alt="@card.Name" loading="lazy" decoding="async" fetchpriority="low"/>
                    }
                </div>
                <VerticalSpacer Value="8"/>
                <hr class="deck-details-cards-edit-header__separator">
            </div>
            
            <div class="deck-details-cards-edit-cards">
                @if (TCGPAllCards.Count <= 0)
                {
                    <LoadingWheel/>
                }
                else
                {
                    foreach (TCGPCard card in TCGPAllCards)
                    {
                        <img class="deck-details-cards-edit-cards__card" src="@card.ImageUrl" alt="@card.Name" loading="lazy" decoding="async" fetchpriority="low"/>
                    }
                }
            </div>
        </div>
    }
    
    <div class="deck-details-edit-right-side"></div>
</div>