@page "/decks/edit"
@page "/decks/{DeckCode}/edit"
@using Tag = TopDeck.Domain.Models.Tag
@inherits DeckDetailsEditPagePresenter
@attribute [AllowAnonymous]

<PageTitle>Deck edit</PageTitle>


<div class="deck-details-edit-page-container">
    <div class="deck-details-edit-left-side"></div>
    
    <div class="deck-details-edit-page">
        <div class="deck-details-edit-header">
            <div class="deck-details-edit-header-top">
                <div class="deck-details-edit-title-panel-container">
                    <TitleEditPanel @bind-Name="DeckName" Width="200px" Height="35px" FontSize="1.1em"/>
                </div>
            </div>

            @if (IsMobile) { <VerticalSpacer Value="10"/> }
            else { <VerticalSpacer Value="25"/> }

            <div class="deck-details-edit-highlight">
                <div class="deck-details-edit-highlighted-cards">
                    
                    @if (TCGPHighlightedCards.Count == 0)
                    {
                        <PlusButton Width="86px" Height="120px" Clicked="SetPickingHighlightCardsMode"/>
                    }
                    else
                    {
                        <img class="deck-details-edit-highlighted-cards__card" src="@TCGPHighlightedCards[0].ImageUrl" alt="img deck 1" loading="lazy" decoding="async" fetchpriority="low"
                             @onclick="SetPickingHighlightCardsMode"/>
                    }
                    
                    @if (TCGPHighlightedCards.Count <= 1)
                    {
                        <PlusButton Width="68px" Height="96px" Clicked="SetPickingHighlightCardsMode"/>
                    }
                    else
                    {
                        <img class="deck-details-edit-highlighted-cards__card" src="@TCGPHighlightedCards[1].ImageUrl" alt="img deck 2" loading="lazy" decoding="async" fetchpriority="low"
                             @onclick="SetPickingHighlightCardsMode"/>
                    }
                    
                    @if (TCGPHighlightedCards.Count <= 2)
                    {
                        <PlusButton Width="68px" Height="96px" Clicked="SetPickingHighlightCardsMode"/>
                    }
                    else
                    {
                        <img class="deck-details-edit-highlighted-cards__card" src="@TCGPHighlightedCards[2].ImageUrl" alt="img deck 3" loading="lazy" decoding="async" fetchpriority="low"
                             @onclick="SetPickingHighlightCardsMode"/>
                    }
                    
                </div>

                <div class="deck-details-edit-energies">
                    @if (EnergyIds.Count <= 0)
                    {
                        <RoundPlusButton Size="26px" Clicked="SetPickingEnergiesMode"/>
                    }
                    else
                    {
                        foreach (int energyId in EnergyIds)
                        {
                            <img class="deck-details-edit-energies__energy" src="https://tcgp-dex.com/energyTypes/@(EnergyTypes[energyId].ToLower()).webp" alt="energy " loading="lazy" decoding="async" fetchpriority="low"
                                 @onclick="SetPickingEnergiesMode"/>
                        }
                    }
                </div>
            </div>
                
            <VerticalSpacer Value="8"/>
            <hr class="deck-details-edit-header__separator">
            
            <div class="deck-details-edit-header-deck-info">
                <div class="deck-details-edit-header-deck-info__card-count @(TotalCardsInDeck > 20 ? "deck-details-edit-header-deck-info__card-count--over-limit" : null)">
                    @TotalCardsInDeck/20
                </div>
                <button class="deck-details-edit-header__edit-button" @onclick="SetEditMode">
                    @Localizer.Localize("page.deckDetailEdit.editButton.text", "Edit")
                </button>
            </div>
            
            <p class="deck-item-tags__label">Tags: </p>
            <div class="deck-item-tags">
                @if (TagIds.Count <= 0)
                {
                    <RoundPlusButton Size="20px" Clicked="SetPickingTagsMode"/>
                }
                else
                {
                    <RoundPlusButton Size="20px" Clicked="SetPickingTagsMode"/>

                    foreach (int tagId in TagIds)
                    {
                        Tag? tag = AvailableTags.FirstOrDefault(t => t.Id == tagId);
                        if (tag is null)
                            continue;

                        <div @onclick="SetPickingTagsMode">
                            <Tag Name="@tag.Name"/>
                        </div>
                    }
                }
            </div>
            
        </div>
        
        @if (CurrentTab is Tab.Cards)
        {
            <div class="deck-details-edit-cards">
                @if (TotalCardsInDeck > 0)
                {
                    foreach (TCGPCard card in SortCards(TCGPCards))
                    {
                        <img class="deck-details-edit-cards__card" src="@card.ImageUrl" alt="@card.Name" loading="lazy" decoding="async" fetchpriority="low"
                             @onclick="SetEditMode"/>
                    }
                
                }

                @if (TotalCardsInDeck < MAX_CARDS_IN_DECK)
                {
                    if (IsMobile)
                    {
                        <PlusButton Width="115px" Height="160px" Clicked="SetEditMode"/>
                    }
                    else
                    {
                        <PlusButton Width="192px" Height="267px" Clicked="SetEditMode"/>
                    }
                }
            </div>
        }
        else if (CurrentTab is Tab.Overview)
        {
            <div class="deck-details-edit-overview">
                @if (TotalCardsInDeck <= 0)
                {
                    @*<LoadingWheel/>*@
                }
                else
                {
                    foreach (TCGPCard card in SortCards(TCGPCards))
                    {
                        <img class="deck-details-edit-overview__card" src="@card.ImageUrl" alt="@card.Name" loading="lazy" decoding="async" fetchpriority="low"/>
                    }
                }
            </div>
        }
        
        <div class="deck-details-cards-edit-cards-buttons-container">
            <button class="deck-details-cards-edit-cards-cancel-button" @onclick="Cancel">
                @Localizer.Localize("page.deckDetailEdit.cancelButton.text", "Cancel")
            </button>
            
            <button class="deck-details-cards-edit-cards-save-button" @onclick="Save" disabled="@(NothingModified() || TotalCardsInDeck != MAX_CARDS_IN_DECK || string.IsNullOrEmpty(DeckName))">
                @Localizer.Localize("page.deckDetailEdit.saveButton.text", "Save")
            </button>
        </div>
        
        @if (IsMobile)
        {
            <div class="deck-details-tabs">
                <button class="deck-details-tab-button @(CurrentTab is Tab.Cards ? "active" : "")" @onclick="() => SelectTab(Tab.Cards)">
                    <img class="deck-details-tab-button__icon" src="img/card-tab-icon@(CurrentTab is Tab.Cards ? "-active" : "").svg" alt="card tab button"/>
                </button>

                <button class="deck-details-tab-button @(CurrentTab is Tab.Overview ? "active" : "")" @onclick="() => SelectTab(Tab.Overview)">
                    <img class="deck-details-tab-button__icon" src="img/overview-tab-icon@(CurrentTab is Tab.Overview ? "-active" : "").svg" alt="overview tab button"/>
                </button>
            </div>
        }
    </div>
    
    @if (CurrentTab == Tab.Cards && IsPickingHighlightCards)
    {
        <div class="deck-details-cards-picking-highlight-cards">
            @if (TCGPCards.Count <= 0)
            {
                @Localizer.Localize("page.deckDetailEdit.noCardsInDeck.text", "No cards in deck.")
            }
            else
            {
                <div class="deck-details-cards-picking-highlight-cards-cards">
                    @foreach (TCGPCard card in SortCards(TCGPCards).DistinctBy(c => new { c.Collection.Code, c.CollectionNumber }))
                    {
                        <button class="deck-details-cards-edit-card-button" 
                                @onclick:preventDefault="true"
                                @onclick:stopPropagation="true"
                                @onclick="() => AddToHighlightCards(card)">
                            <img class="deck-details-cards-edit-card-button__img" src="@card.ImageUrl" alt="@card.Name" loading="lazy" decoding="async" fetchpriority="low"/>
                            @if (IsCardInHighlightCards(card))
                            {
                                <div class="deck-details-cards-edit-card-button-overlay">
                                    <div class="deck-details-cards-edit-card-button-overlay-count">
                                        @(TCGPHighlightedCards.FindIndex(h => h.Collection.Code == card.Collection.Code && h.CollectionNumber == card.CollectionNumber) + 1)
                                    </div>
                                </div>
                            }
                        </button>
                    }
                </div>
            }
            
            <button class="deck-details-cards-edit-cards-ok-button" @onclick="ExitPickingHighlightCardsMode">
                X
            </button>
        </div>
    }
    
    @if (CurrentTab == Tab.Cards && IsPickingEnergies)
    {
        <div class="deck-details-cards-picking-energies">
            <div class="deck-details-cards-picking-energies-energies">
                @foreach ((int id, string name) in EnergyTypes)
                {
                    <button class="deck-details-cards-edit-energy @(IsEnergySelected(id) ? "deck-details-cards-edit-energy--toggled" : null)"
                            @onclick:preventDefault="true"
                            @onclick:stopPropagation="true"
                            @onclick="() => ToggleEnergyType(id)">
                        <img class="deck-details-cards-edit-energy__img" src="https://tcgp-dex.com/energyTypes/@(name.ToLower()).webp" alt="@name" loading="lazy" decoding="async" fetchpriority="low"/>
                        <p class="deck-details-cards-edit-energy__name">@name</p>
                    </button>
                }
            </div>
            
            <button class="deck-details-cards-edit-cards-ok-button" @onclick="ExitPickingEnergiesMode">
                X
            </button>
        </div>
    }
    
    @if (CurrentTab == Tab.Cards && IsPickingTags)
    {
        <div class="deck-details-cards-picking-energies">
            <div class="deck-details-cards-picking-energies-energies">
                @foreach (Tag tag in AvailableTags)
                {
                    <button class="deck-details-cards-edit-energy @(IsTagSelected(tag.Id) ? "deck-details-cards-edit-energy--toggled" : null)"
                            @onclick:preventDefault="true"
                            @onclick:stopPropagation="true"
                            @onclick="() => ToggleTag(tag.Id)">
                        <p class="deck-details-cards-edit-energy__name">@tag.Name</p>
                    </button>
                }
            </div>
            
            <button class="deck-details-cards-edit-cards-ok-button" @onclick="ExitPickingTagsMode">
                X
            </button>
        </div>
    }

    @if (CurrentTab == Tab.Cards && IsEditing)
    {
        <div class="deck-details-cards-edit">
            <div class="deck-details-cards-edit-header">
                <div class="deck-details-cards-edit-cards-preview">
                    @{ var sorted = SortCards(TCGPCards).ToList(); }
                    @for (int i = 0; i < sorted.Count; i++)
                    {
                        int index = i; // capture stable copy to avoid modified-closure issues
                        TCGPCard card = sorted[index];
                        string uniqueId = $"{card.Collection.Code}-{card.CollectionNumber}-{index}";
                        
                        <div class="deck-details-cards-edit-cards-preview__card-wrapper">
                            <img class="deck-details-cards-edit-cards-preview__card @(SelectedCardId == uniqueId ? "deck-details-cards-edit-cards-preview__card--selected" : null)"
                                 src="@card.ImageUrl" alt="@card.Name"
                                 @onclick="() => SelectCard(uniqueId, card)"/>
                            @if (SelectedCardId == uniqueId)
                            {
                                <button class="deck-details-cards-edit-cards-preview__remove" @onclick="() => RemoveOneFromDeck(card)" @onclick:preventDefault="true" @onclick:stopPropagation="true">
                                    <img src="img/suggestion-minus-icon.svg" alt="minus"/> Remove
                                </button>
                            }
                        </div>
                    }
                </div>
                <VerticalSpacer Value="8"/>
                <hr class="deck-details-cards-edit-header__separator">
                <div class="deck-details-cards-edit-header-deck-info">
                    <div class="deck-details-cards-edit-header-deck-info__card-count @(TotalCardsInDeck > 20 ? "deck-details-cards-edit-header-deck-info__card-count--over-limit" : null)">
                        @TotalCardsInDeck/20
                    </div>
                </div>
            </div>
            
            <div class="deck-details-cards-edit-cards">
                @if (TCGPAllCards.Count <= 0)
                {
                    <LoadingWheel/>
                }
                else
                {
                    foreach (TCGPCard card in FilteredTCGPAllCards)
                    {
                        int cardQuantityInDeck = GetCardQuantityInDeck(card);
                            
                        <button id="@GetCardElementId(card)"
                                class="deck-details-cards-edit-card-button" 
                                @onclick:preventDefault="true"
                                @onclick:stopPropagation="true"
                                @onclick="() => AddToDeck(card)">
                            <img class="deck-details-cards-edit-card-button__img" src="@card.ImageUrl" alt="@card.Name" loading="lazy" decoding="async" fetchpriority="low"/>
                            @if (cardQuantityInDeck > 0)
                            {
                                <div class="deck-details-cards-edit-card-button-overlay">
                                    <button class="deck-details-cards-edit-card-button-overlay-remove-button" 
                                            @onclick:preventDefault="true"
                                            @onclick:stopPropagation="true"
                                            @onclick="() => RemoveFromDeck(card)">
                                        <img class="deck-details-cards-edit-card-button-overlay-remove-button__icon" src="img/suggestion-minus-icon.svg" alt="minus icon"/>
                                    </button>
                                        
                                    <div class="deck-details-cards-edit-card-button-overlay-count">
                                        @(cardQuantityInDeck)/2
                                    </div>
                                        
                                    <div class="deck-details-cards-edit-card-button-overlay-controls">
                                        <button class="deck-details-cards-edit-card-button-overlay-controls-btn" 
                                                @onclick:preventDefault="true"
                                                @onclick:stopPropagation="true"
                                                @onclick="() => RemoveOneFromDeck(card)">
                                            <img src="img/suggestion-minus-icon.svg" alt="minus"/>
                                        </button>
                                        <button class="deck-details-cards-edit-card-button-overlay-controls-btn" 
                                                @onclick:preventDefault="true"
                                                @onclick:stopPropagation="true"
                                                @onclick="() => AddToDeck(card)" disabled="@(cardQuantityInDeck >= MAX_IDENTICAL_CARDS_IN_DECK)">
                                            <img src="img/suggestion-plus-icon.svg" alt="plus"/>
                                        </button>
                                    </div>
                                </div>
                            }
                        </button>
                    }
                }
            </div>
                
            <button class="order-fab" @onclick="OpenOrder">
                <img src="img/order-icon.svg" alt="order"/>
            </button>
            <button class="filter-fab" @onclick="OpenFilter">
                <img src="img/filter-icon.svg" alt="filter"/>
            </button>
                
            <button class="deck-details-cards-edit-cards-ok-button" @onclick="ExitEditMode">
                OK
            </button>
            
            @if (IsOrderOpen)
            {
                <div class="filter-modal__overlay" @onclick="CloseOrder">
                    <div class="filter-modal" @onclick:stopPropagation>
                        <div class="filter-modal__header">
                            <h3>@Localizer.Localize("component.cardOrder.header.title", "Order decks")</h3>
                            <button class="filter-modal__close" @onclick="CloseOrder">
                                <img src="img/close-icon.svg" alt="close"/>
                            </button>
                        </div>
                        <div class="filter-modal__section">
                            <div class="filter-order-list">
                                @foreach (OrderOption order in OrderOptions)
                                {
                                    bool selected = IsOrderSelected(order.Key);
                                    <div class="filter-order-item @(selected ? "filter-order-item--toggled" : null)">
                                        <button class="filter-order-item__btn" @onclick="() => SelectOrder(order.Key)">
                                            <span class="filter-order-item__label">@order.Label</span>
                                        </button>
                                        <button class="filter-order-item__dir @(!selected ? "filter-order-item__dir--hideed" : null)" title="Asc/Desc" @onclick="() => ToggleOrderDirection(order.Key)" @onclick:stopPropagation="true">
                                            <img class="filter-order-item__dir-icon @(AscInput ? "filter-order-item__dir-icon--asc" : null)" src="img/order-downArrow-icon.svg" alt="asc/desc"/>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="filter-modal-footer">
                            <button class="filter-modal-footer__close" @onclick="ApplyOrder">
                                <img src="img/close-icon.svg" alt="close"/>
                            </button>
                        </div>
                    </div>
                </div>
            }

            @if (IsFilterOpen)
            {
                <div class="filter-modal__overlay" @onclick="CloseFilter">
                    <div class="filter-modal" @onclick:stopPropagation>
                        <div class="filter-modal__header">
                            <h3>@Localizer.Localize("component.cardFilter.header.title", "Filter decks")</h3>
                            <button class="filter-modal__close" @onclick="CloseFilter">
                                <img src="img/close-icon.svg" alt="close"/>
                            </button>
                        </div>

                        <div class="filter-modal__section" style="position: relative">
                            <input class="filter-input" placeholder="@Localizer.Localize("component.cardFilter.search.placeholder", "Search by name, code, or author")" @bind="SearchInput" />
                            <div class="filter-input__icon">
                                <img src="img/search-icon.svg" alt="search"/>
                            </div>
                        </div>

                        <div class="filter-modal__section">
                            <label class="filter-modal__section__title">Types</label>
                            <div class="filter-tags">
                                @foreach (string name in AllTypeNames)
                                {
                                    bool checkedVal = SelectedTypeNames.Contains(name);
                                    <label class="filter-tag">
                                        <input type="checkbox" checked="@checkedVal" @onclick="@(() => ToggleTypeName(name))" />
                                        <span class="filter-tag__name">@name</span>
                                    </label>
                                }
                            </div>
                        </div>

                        <div class="filter-modal__section">
                            <label class="filter-modal__section__title">Types Pokémon</label>
                            <div class="filter-tags">
                                @foreach (string name in AllPokemonTypeNames)
                                {
                                    bool checkedVal = SelectedPokemonTypeNames.Contains(name);
                                    <label class="filter-tag">
                                        <input type="checkbox" checked="@checkedVal" @onclick="@(() => TogglePokemonTypeName(name))" />
                                        <span class="filter-tag__name">@name</span>
                                    </label>
                                }
                            </div>
                        </div>

                        <div class="filter-modal__section">
                            <label class="filter-modal__section__title">Collections</label>
                            <div class="filter-tags">
                                @foreach (string collectionCode in AllCollectionCodes)
                                {
                                    bool checkedVal = SelectedCollectionCodes.Contains(collectionCode);
                                    <label class="filter-tag">
                                        <input type="checkbox" checked="@checkedVal" @onclick="@(() => ToggleCollectionCode(collectionCode))" />
                                        <span class="filter-tag__name">@collectionCode</span>
                                    </label>
                                }
                            </div>
                        </div>

                        <div class="filter-modal-footer">
                            <button class="filter-modal-footer__close" @onclick="ApplyFilter">
                                <img src="img/close-icon.svg" alt="close"/>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    
    <div class="deck-details-edit-right-side"></div>
</div>