@namespace TopDeck.Shared.Components
@inherits DeckCardBase


<div class="deck-card @GetEnergyClass(Deck.EnergyIds)"
     @onclick="OpenDeckDetails">
    
    <div class="deck-card-header">
        
        <div class="deck-card-title-panel-container">
            <TitlePanel Name="@Deck.Name"/>
        </div>
        
        <span class="deck-card-code"
              @onclick:preventDefault 
              @onclick:stopPropagation
              @onclick="CopyCode">
            @DeckCode
        </span>
        
    </div>
    
    <div class="deck-card-body">
        
        <VerticalSpacer Value="18"/>

        <div class="deck-highlight-cards">

            @if (HighlightedCards.Count < 2)
            {
                <p>@Localizer.Localize("feedback.text.loading", "Loading...")</p> /* TODO: replace this by placeholder img or two first img in deck */
            }
            else
            {
                <img class="deck-highlight-cards__card" src="@HighlightedCards[0].ImageUrl" alt="img deck 1" loading="lazy" decoding="async" fetchpriority="low"/>
                <img class="deck-highlight-cards__card" src="@HighlightedCards[1].ImageUrl" alt="img deck 2" loading="lazy" decoding="async" fetchpriority="low"/>
            }
            
        </div>
        
        <VerticalSpacer Value="14"/>

        <div class="deck-highlight-energies">
            
            @foreach (int energyId in Deck.EnergyIds)
            { 
                <img class="deck-highlight-energies__energy" src="https://tcgp-dex.com/energyTypes/@(EnergyTypes[energyId].ToLower()).webp" alt="energy " loading="lazy" decoding="async" fetchpriority="low"/>
            }
            
        </div>

    </div>
    
    <div class="deck-card-footer">
        
        <div class="deck-vote-panel-container">
            <VotePanel DeckId="Deck.Id"
                       UserLikes="Deck.Likes.Select(l => l.User).ToList()"
                       UserDislikes="Deck.Dislikes.Select(l => l.User).ToList()"/>
        </div>
        
    </div>
    
</div>