@namespace TopDeck.Shared.Components
@inherits DeckViewBase


<div class="deck-view @GetEnergyClass(Deck.EnergyIds)">
    
    <div class="header">
        
        <DeckNamePanel Name="@Deck.Name"/>
        
        <span class="code" @onclick="CopyCode">@DeckCode</span>
        
    </div>
    
    <div class="content">
        
        <VerticalSpacer Value="20"/>

        <div class="cards">

            @if (HighlightedCards.Count < 2)
            {
                <p>@Localizer.Localize("feedback.text.loading", "Loading...")</p>
            }
            else
            {
                <img src="@HighlightedCards[0].ImageUrl" alt="img deck 1"/>
                <img src="@HighlightedCards[1].ImageUrl" alt="img deck 2"/>
            }
            
        </div>
        
        <VerticalSpacer Value="8"/>

        <div class="energies">
            
            @if (HighlightedCards.Count < 2)
            {
                <p>@Localizer.Localize("feedback.text.loading", "Loading...")</p>
            }
            else
            {
                foreach (int energyId in Deck.EnergyIds)
                {
                    <img src="https://tcgp-dex.com/energyTypes/@(EnergyTypes[energyId].ToLower()).webp" alt="energy "/>
                }
            }
            
        </div>

    </div>
    
    <div class="footer">
        
        <VotePanel DeckId="Deck.Id" 
                   UserLikes="Deck.Likes.Select(l => l.User).ToList()"
                   UserDislikes="Deck.Dislikes.Select(l => l.User).ToList()"/>
        
    </div>
    
</div>