@namespace TopDeck.Shared.Components
@inherits DeckViewBase


<div class="deck-view @GetEnergyClass(Deck.EnergyIds)"
     @onclick="OpenDeckDetails">
    
    <div class="header">
        
        <DeckNamePanel Name="@Deck.Name"/>
        
        <span class="code"
              @onclick:preventDefault 
              @onclick:stopPropagation
              @onclick="CopyCode"
              >
            @DeckCode
        </span>
        
    </div>
    
    <div class="content">
        
        <VerticalSpacer Value="18"/>

        <div class="cards">

            @if (HighlightedCards.Count < 2)
            {
                <p>@Localizer.Localize("feedback.text.loading", "Loading...")</p> /* TODO: replace this by placeholder img or two first img in deck */
            }
            else
            {
                <img src="@HighlightedCards[0].ImageUrl" alt="img deck 1" loading="lazy" decoding="async" fetchpriority="low"/>
                <img src="@HighlightedCards[1].ImageUrl" alt="img deck 2" loading="lazy" decoding="async" fetchpriority="low"/>
            }
            
        </div>
        
        <VerticalSpacer Value="12"/>

        <div class="energies">
            
            @foreach (int energyId in Deck.EnergyIds)
            { 
                <img src="https://tcgp-dex.com/energyTypes/@(EnergyTypes[energyId].ToLower()).webp" alt="energy " loading="lazy" decoding="async" fetchpriority="low"/>
            }
            
        </div>

    </div>
    
    <div class="footer">
        
        <VotePanel DeckId="Deck.Id" 
                   UserLikes="Deck.Likes.Select(l => l.User).ToList()"
                   UserDislikes="Deck.Dislikes.Select(l => l.User).ToList()"/>
        
    </div>
    
</div>