@namespace TopDeck.Shared.Components
@inherits DeckViewBase


<div class="deck-view @GetEnergyClass(Deck.EnergyIds)">
    
    <div class="header">
        
        <DeckNamePanel Name="@Deck.Name"/>
        
        <span class="code" @onclick="CopyCode">@DeckCode</span>
        
    </div>
    
    <div class="content">
        
        <VerticalSpacer Value="20"/>

        <div class="cards">

            @{
                TCGPCard? card1 = Cards.FirstOrDefault();
                TCGPCard? card2 = Cards.LastOrDefault();
            }

            @if (card1 is not null)
            {
                <img src="@card1.ImageUrl" alt="img deck 1"/>
            }

            @if (card2 is not null)
            {
                <img src="@card2.ImageUrl" alt="img deck 2"/>
            }

        </div>

        <div class="energies">

        </div>

    </div>
    
    <div class="footer">
        
        <VotePanel DeckId="Deck.Id" 
                   UserLikes="Deck.Likes.Select(l => l.User).ToList()"
                   UserDislikes="Deck.Dislikes.Select(l => l.User).ToList()"/>
        
    </div>
    
</div>